*.class

**/*.class

# Package Files #
*.jar*
*.war
*.ear

/**/target/

**/eclipsebin

**/eclipsebin/

.metadata/**

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
/.metadata/

NAGP_2021_Microservice/*/target/
